* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Catamaran", sans-serif;
}

header{
    max-width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: none;
}

.nav-logo{
    margin-left: 15%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-right: 15%;
}

.nav-links a{
    justify-content: space-between;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.register-button a{
    background-color: #4CAF4F;
    color: white;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}




.hero-section {
    width: 100%;
    background-color: #F5F7FA;
    display: flex;

}

.hero-section img{
    background-color: brown;
    
}

.hero-text{
    width: 30%;
    height: 40%;
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
    flex-direction: row;
}

.hero-section button {
    background-color: #28CB8B;
    margin: 20px auto;
    width: 90px;
    height: 36px;
    border-radius: 5%;
    color: #F5F7FA;
}

.nav-menu {
    display: none;
}

.hero-text p:nth-child(1) {
    color: #4D4D4D;
    font-size: 42px;
}

.hero-text p:nth-child(2) {
    color: #28CB8B;
    font-size: 42px;
}

.hero-text p:nth-child(3) {
    color: #4D4D4D;
    font-size: 12px;
}


.clients-hero{
    width: 100%;
    height: 200px;
}

.clients-text{
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.clients-text p:nth-child(1) {
    color: #070707;
    font-size: 24px;
}

.clients-text p:nth-child(2) {
    color: #070707;
    font-size: 12px;
}
.clients-logo{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}

.clients-logo img{
    width: 3%;
    justify-content: center;
}


.title {
    max-width: 100%;
    text-align: center;
}

.title p:nth-child(1) {
    color: #070707;
    font-size: 24px;
}

.title p:nth-child(2) {
    color: #070707;
    font-size: 12px;
}

/* Responsividade */

@media(max-width: 767px) {
    head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .nav-logo{
        margin-left: 20px;
    }

    .nav-menu{
        display: flex;
        margin-left: auto;
    }

    .nav-menu img{
        width: 10%;
        margin-left: 220px;

    }

    
    .nav-links{
        display: none;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;
        margin-right: 44px;
    }
    
    .nav-links {
        justify-content: space-between;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    .hero-text a{
        color: rgb(255, 255, 255);
        padding: 2px 4px;
        border-radius: 1.3px;
        font-size: 12px;
    }
    
    .hero-section {
        background-color: blueviolet;
        display: flex;
    }

    .hero-section img{
        background-color: rgb(43, 226, 61);
        display: flex;
        flex-direction: row;
    }


    .hero-text{
        width: 100%;
        flex-direction: column;
    }
    
    .hero-section a {
        background-color: #28CB8B;
        font-size: 12px;
        margin: 20px auto;
        width: 90px;
        height: 36px;
        border-radius: 5%;
        color: #F5F7FA;
    }

    .hero-text p:nth-child(1) {
        color: #060505;
        font-size: 22px;
    }
    
    .hero-text p:nth-child(2) {
        color: #000000;
        font-size: 22px;
    }
    
    .hero-text p:nth-child(3) {
        color: #4D4D4D;
        font-size: 12px;
    }



    .hero-section button {
        background-color: #28CB8B;
        margin: 10px auto;
        width: 70px;
        height: 26px;
        border-radius: 5%;
        color: #F5F7FA;
        font-size: 12px;
    }

    .hero-section img{
        width: 50%;
        height: 50%;
        margin-bottom: 5%;
        
    }

    .clients-logo{
        max-width: 100%;
        display: flex;
        margin-top: 5%;
        justify-content: space-around;
    }
    
    .clients-logo img{
        width: 10%;
        justify-content: center;
        }






}